.details{
text-align: left;
margin: 0;
padding: 6px;
font-size: 1rem;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background: rgb(131,58,180);
background: linear-gradient(210deg, rgba(131,58,180,0.7133228291316527) 0%, rgba(218,176,191,0.727328431372549) 50%, rgba(255,255,255,1) 100%);
}

.add-tasks{
  display : block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: lightcyan;
  border: 6px solid orange;
  text-align: center;
}

.lists{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: ivory;
  font-size: 20px;
  padding: 2%;
}

li{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  list-style-type:none ;
  background-color: gainsboro;
  margin: 1% 0 1% 0;
}